.root {
    -fx-font-size: 13px;
    font-size: 13px;
}

.no-round-corner {
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.btn-primary {
    -fx-background-color: #009c7c;
    background-color: #009c7c;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-text-fill: white;
}

.btn-primary:hover,
.btn-primary:focused,
.btn-primary-active {
    -fx-background-color: #008167;
    background-color: #008167;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-text-fill: white;
}

.btn-secondary {
    -fx-background-color: #afafaf;
    background-color: #afafaf;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-text-fill: white;
}

.btn-secondary:hover,
.btn-secondary:focused {
    -fx-background-color: #727272;
    background-color: #727272;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-text-fill: white;
}

.btn-danger {
    -fx-background-color: #ff5050;
    background-color: #ff5050;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-text-fill: white;
}

.btn-danger:hover {
    -fx-background-color: #d13333;
    background-color: #d13333;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-text-fill: white;
}

.label-primary {
    -fx-background-color: #008167;
    background-color: #008167;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-padding: 1 3 1 3;
}

.label-secondary {
    -fx-background-color: #727272;
    background-color: #727272;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-padding: 1 3 1 3;
}

.align-left {
    -fx-alignment: center-left;
}

.align-right {
    -fx-alignment: center-right;
}

.bg-primary {
    -fx-background-color: #009c7c;
    background-color: #009c7c;
}

.bg-secondary {
    -fx-background-color: #dddddd;
    background-color: #dddddd;
}

.bg-disabled {
    -fx-opacity: 0.4;
}

.border-primary {
    -fx-border-color: #009c7c;
    border-color: #009c7c;
}

.border-secondary {
    -fx-border-color: #dddddd;
    border-color: #dddddd;
}

.input-primary {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-border-color: #009c7c;
    border-color: #009c7c;
    -fx-font-size: 13px;
    font-size: 13px;
}

.menu-button>.arrow-button>.arrow {
    -fx-background-color: #fff;
    background-color: #fff;
}

.combo-box-base.combo-box-autocomplete {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
}

.combo-box-base.combo-box-autocomplete>.text-field {
    -fx-background-color: white;
    background-color: white;
}

.combo-box-base.combo-box-autocomplete>.text-field .bg-disabled {
    -fx-background-color: #ececec;
    background-color: #ececec;
}

.combo-box.combo-box-autocomplete .arrow,
.combo-box.combo-box-autocomplete .arrow-button {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-padding: 0;
    padding: 0;
}

.combo-box.combo-box-autocomplete {
    -fx-background-color: white;
    background-color: white;
}

.combo-box-base.combo-box-autocomplete>.arrow-button>.arrow {
    -fx-background-color: transparent;
    background-color: transparent;
}

.combo-box-base.combo-box-primary {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-border-color: #009c7c;
    border-color: #009c7c;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 13px;
    font-size: 13px;
}

.date-picker {
/*    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;*/
}


.date-picker:contains-focus {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-control-inner-background;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.date-picker>.date-picker-display-node {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-border-color: transparent;
    border-color: transparent;
    -fx-border-insets: 0;
    /*-fx-background-insets: 0;*/
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 13px;
    font-size: 13px;
}

.date-picker>.arrow-button {
    -fx-background-color: black;
    background-color: #dddddd;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-border-insets: 0;
    /*-fx-background-insets: 0;*/
}

.pagination {
    -fx-page-information-visible: false;
}

.pagination > .page {
    -fx-min-height: 0;
}

/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-padding: 0;
    -fx-alignment: top-left;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0;
    -fx-background-color: #dddddd;
    -fx-min-width: 30;
    -fx-min-height: 30;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #008167;
    -fx-text-fill: white;
}

.scroll-pane.badge-pane {
    -fx-border-color: #009c7c;
    border-color: #009c7c;
}

.scroll-pane.badge-pane .anchor-pane {
    -fx-background-color: white;
}

.scroll-pane.badge-pane .label {
    -fx-background-color: #009c7c;
    -fx-text-fill: white;
    -fx-padding: 1 3 1 3;
    -fx-font-size: 12px;
    font-size: 12px;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.split-menu-button.btn-primary {
    -fx-background-color: #009c7c;
    background-color: #009c7c;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.split-menu-button.btn-primary:hover,
.split-menu-button.btn-primary:focused {
    -fx-background-color: #008167;
    background-color: #008167;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.split-menu-button.btn-primary > .label {
    -fx-background-color: #009c7c;
    background-color: #009c7c;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-text-fill: white;
}

.split-menu-button.btn-primary:hover > .label,
.split-menu-button.btn-primary:focused > .label {
    -fx-background-color: #008167;
    background-color: #008167;
}

.split-menu-button.btn-primary > .arrow-button {
    -fx-background-color: #009c7c;
    background-color: #009c7c;
    -fx-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-text-fill: white;
}

.split-menu-button.btn-primary:hover > .arrow-button,
.split-menu-button.btn-primary:focused > .arrow-button {
    -fx-background-color: #008167;
    background-color: #008167;
}

.split-menu-button.btn-primary > .arrow-button > .arrow {
    -fx-background-color: white;
    background-color: white;
    -fx-border-color: white;
    border-color: white;
}
